/*フォント(bodyは「"Arial", "Meiryo", sans-serif」
h1はGoogleフォント「Josefin Sans」) */

body {
    font-family: "Arial", "Meiryo", sans-serif ;
}

html {
    font-size: 20px ;
}


h1{
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1.2em ;
    font-size: 2rem;
    text-shadow: 1px 1px 3px black;
    border-bottom: solid 3px  rgb(115, 115, 114) ;
}



/*フォントカラーの変更*/

.text-skyblue {
    color: skyblue;
}

.text-pink {
    color: rgb(255, 192, 203);
}

/*文字位置はセンター*/
h1 , h2 , p {
    text-align: center ;
}

/*一部テキストを太字に*/

#parent p {
    font-weight: bold ;
}
